.col {
    padding: 5%;
}

main {
    background: linear-gradient(#000, rgb(0, 11, 73), #02073c, #072059);
}

.card {
    background: linear-gradient(#000, rgb(0, 11, 73), #000b7f, #154fd7);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}